@model IEnumerable<OpentoTop.Models.News>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @{
                            item.Url = item.Url.Replace("local.opento.top", "www.opento.top");
                        }
                        <a href="@item.Url" target="_blank">
                            @item.Title
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.NewsId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


